@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>MIS 424 Assignments</h2>
    <ul class="lead">
        <li>
            <a href="~/retail/">Retail Store</a> with content management for products, categories and images.
        </li>
    </ul>
</div>

