<div class="row header">
    <div class="col-md-6">

        <a href="~/retail/index" class="logo">
            <h2>Bike Stuff LLC.</h2>
        </a>

    </div>
    <div class="col-md-6 about">
        <div class="login">
            @Html.Partial("_LoginPartial")
        </div>
        <div class="clearfix"></div>
        <div style="float:right;">
            <a href="~/retail/about" class="btn btn-primary">About</a>
            <a href="~/retail/admin" class="btn btn-primary">Admin</a>
            <a href="~/retail/" class="btn btn-primary">Retail Home</a>
            <a href="~/home/" class="btn btn-primary">Site Home</a>
        </div>
    </div>

</div>