<div>
    <div class="text-center">
        <h2>Screen Scraping</h2><hr />
    </div>

    <p><b>@ViewBag.count</b></p>
    <div id="divOutput" style="background-color: white;">
        @Html.Raw(@ViewBag.results)
    </div>
</div>
